<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood importance</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand text-danger" href="#" style="font-family:Aparajita;font-weight:bold;font-size:150%;">INSTANT BLOOD DONORS</a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                &#9776;
            </button>
            <div class="collapse navbar-collapse" id="exCollapsingNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
				<a class="nav-link" href="/">Home</a>
			  </li>
                     <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Services
                </a>
                <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                    <a class="dropdown-item" href="/donate">Donor Registration</a>
                    <a class="dropdown-item" href="/findblood">Find Blood Donor</a>
                </div>
            </li>
                    <li class="nav-item"><a href="#followUsSection" class="nav-link">Follow Us</a></li>
                    <li class="nav-item"><a href="/feedback" class="nav-link">Feedback</a></li>
                </ul>
                <!--login-->
                <div class="nav navbar-nav flex-row justify-content-between ml-auto">
                       <a href="/login"><button type="button" id="button1"  class="btn btn-danger" >Login <span class="caret"></span></button></a>
                </div>
            </div>
        </div>
    </nav><br><br>
    <div class="p-4 responsive-font-example text-justify">
        <h2 class="text-danger" style= "font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Need Of Blood Bonation</h2>
   <p style="font-size:larger;">
       A lot of people ask the question, ‘Why should I give blood?’ and the most appropriate response to that question is, why not? In under one hour, one person can give just a single unit of blood, which can help to save the lives of multiple people.
        Donations are essential for trauma patients and people in a variety of situations, including surgeries, transplants, chronic illnesses, blood disorders, and cancer.
       Seeing as over 90% of people who are eligible to donate do not do so, there is always a need for new donors.
        It is shocking to discover that over 90% of people who are eligible to donate blood do not do so, meaning that there is always a need for new donors.
       A single blood donation can be given to up to four separate patients, increasing each person’s chances of a better outcome and hope for survival.
   </p>
    </div>
<div class="blood-images-section pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div class="text-center">
                            <a href="https://www.youtube.com/watch?v=Af0gk_kiGac" style="color: rgb(241, 74, 74);font-weight: bold; text-decoration: none;"><img src="https://img.icons8.com/?size=2x&id=tlpbW1CVeCOK&format=png"  class="blood-videos-section-img"/>
                      </a>  </div>
                    </div>
                    <div class="col-12 col-md-7" >
                        <ul class="blood-videos-section-heading" style="color:rgb(189, 29, 29);">
                            <h3><li style="font-family:Bradley Hand ITC;font-weight:bold;"> Blood donation is the voluntary act of giving blood to help those in need.Donating blood can save lives and is a generous way to contribute to the well-being of others.</li></h3>
                        </ul>
                    </div>
                </div>
            </div>
    <br>
    <!--second one-->
    <div class="blood-images-section pt-5 pb-5">
    <div class="container">
                <div class="row">
                    <div class="col-12 col-md-7" >
                        <ul class="blood-videos-section-heading" style="color:rgb(189, 29, 29);">
                            <h3><li style="font-family:Bradley Hand ITC;font-weight:bold;">If you’re a blood donor, you’re a hero to someone, somewhere, who received your gracious gift of life.</li></h3>
                        </ul>
                    </div>
                    <div class="col-12 col-md-5">
                        <div class="text-center">
                            <a href="https://www.youtube.com/watch?v=Af0gk_kiGac"><img src="https://img.icons8.com/?size=2x&id=y6ScRoy1ZTFC&format=png"  class="blood-videos-section-img" style="width:10vw;height:20vh;"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
 <div class="p-4 responsive-font-example text-justify">
        <h2 class="text-danger" style= "font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Importance Of Blood Donation Day</h2>
   <p style="font-size:larger;">
       World Blood Donation Day is an annual global event observed on June 14th to raise awareness about the importance of voluntary<span class="text-danger">&nbsp;blood donation</span> .
       It aims to recognize the life-saving contributions of blood donors, encourage regular donation, and ensure the availability of safe and sufficient blood for transfusions, ultimately saving countless lives worldwide.
   </p>
      <p style="font-size:larger;">
       Wishes on <span class="text-danger">World Blood Donation Day</span> are important to raise awareness about the critical need for blood donors. They encourage individuals to take action, donate blood, and save lives.
          By sharing wishes, we inspire compassion, promote a culture of giving, and make a significant impact on the well-being of others.
      </p>
    </div>

<div class="blood-images-section pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div class="text-center">
                            <a href="https://www.youtube.com/watch?v=noHL9tkftu0"><img src="https://img.icons8.com/?size=2x&id=JoHXKaQrEFLv&format=png"  class="blood-videos-section-img" style="height:25vh;"/></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-7" >
                        <ul class="blood-videos-section-heading" style="color:rgb(189, 29, 29);">
                            <h3><li style="font-family:Bradley Hand ITC;font-weight:bold;">On this special day, we honor the silent heroes who save lives through blood donation. Your selflessness and compassion make the world a better place.</li></h3>
                        </ul>
                    </div>
                </div>
            </div>
</div>
</div>
</body>
</html>
