<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vision and mission</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7ae042e221.js" crossorigin="anonymous"></script>
    <style>
    </style>
</head>

<body>
<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand text-danger" href="#" style="font-family:Aparajita;font-weight:bold;font-size:150%;">INSTANT BLOOD DONORS</a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                &#9776;
            </button>
            <div class="collapse navbar-collapse" id="exCollapsingNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
				<a class="nav-link" href="/">Home</a>
			  </li>
                     <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Services
                </a>
                <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                    <a class="dropdown-item" href="/donate">Donor Registration</a>
                    <a class="dropdown-item" href="/findblood">Find Blood Donor</a>
                </div>
            </li>
                    <li class="nav-item"><a href="#followUsSection" class="nav-link">Follow Us</a></li>
                    <li class="nav-item"><a href="/feedback" class="nav-link">Feedback</a></li>
                </ul>
                <!--login-->
                <div class="nav navbar-nav flex-row justify-content-between ml-auto">
                       <a href="/login"><button type="button" id="button1"  class="btn btn-danger" >Login <span class="caret"></span></button></a>
                </div>
            </div>
        </div>
    </nav><br><br>
<!--data-->
    <div class=" p-4 responsive-font-example">
   <h2 class="text-danger" style="font-weight: bold;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Vision of the project</h2>
        <p   class="text-justify" style="color: rgb(114, 104, 104);font-size: larger;">The main vision of the blood donation website is to be the foremost online platform that
            fosters a
            thriving and compassionate community of
            voluntary blood donors,connecting them with those in urgent need of blood.By promoting a culture of
            regular and voluntary blood donation,
            the website aims to play a significant role in saving lives and contributing to the well-being of
            individuals and communities across the globe.
        </p>
  <h2 class="text-danger" style= "font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Mission of the project</h2>
        <p  class="text-justify" style="color: rgb(114, 104, 104); font-size: larger;">The main mission of the blood donation website is to promote and facilitate voluntary blood donation
            with recipients in need.
            The website strives to raise awareness about the importance of donating blood and its significance
            impact on saving lives.
            By providing a seamless and secure online platform,the mission is to encouraged regular blood
            donations,
            Ultimately,the main
            mission is to make a
            positive and life-saving difference in the world through the power of voluntary blood donation.The
            overall improvement of blood.
        </p>
    </div>
    <br>
<div class="container">
	<div class="row">
	<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" onclick="this.parentNode.parentNode.removeChild(this.parentNode);" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <strong><i class="fa fa-warning"></i> Note!</strong> <marquee><p style="font-family: Impact; font-size: 18pt">In every two seconds someone in india needs blood.it is estimated that over 12,000 persons die everyday in india due to non-availability of blood .Now it's your turn to donate the blood saves someone's life.</p></marquee>
	</div>
</div>
    <!--quote-->
   <br><div class="text-center">
<figure class="text-end">
  <blockquote class="blockquote">
    <h3 class="text-danger" style="font-family:Bradley Hand ITC;font-weight:bold;">“There Is Only A Difference Of One Bag Of Blood Between Life And Death."</h3>
  </blockquote>
  <figcaption class="blockquote-footer" style="color: rgb(234, 93, 93);">
    given by <cite title="Source Title">&nbsp;Instant Blood Donors</cite>
  </figcaption>
</figure>
</div>
</div>
</body>
</html>